.home {
  display: flex;
  flex-wrap: wrap;
}

.home img {
  width: 100%;
  border-radius: 0 250px 250px 0;
}
.carousel {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

h1,
h2 {
  text-align: center;
  padding: 1em;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.buttons button {
  margin: 1em;
}

.square_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
