.button {
  background-color: blueviolet;
  border-radius: 5px;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  margin: 1em 0.5em;
  transition: 0.2s;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.221);
  color: white;
}

.button:hover {
  color: blueviolet;
  background-color: var(--cor-salmao-principal);
}
