.button {
  background-color: #ffc95c;
  border-radius: 5px;
  font-size: 1.1em;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  margin: 1em 0.5em;
  transition: 0.2s;
  text-align: center;
}

.button:hover {
  color: white;
  background-color: blueviolet;
}
