.nuvem {
  height: 600px;
  width: 500px;
  margin: 1em 1em 3em 1em ;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.nuvem .text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nuvemimg {
  position: absolute;
  top: -3em;
  min-height: 400px;
  min-width: 500px;
  width: 100%;
  z-index: -1;
}

.nuvem h1 {
  margin-bottom: 1em;
  padding: 0;
  padding-top: 1em;
}

.nuvem .text p {
  text-align: center;
  margin-top: 2.2em;
  width: 75%;
  color: white;
}

@media (max-width: 461px) {
  .nuvemimg {
    min-height: 500px;
  }

  .nuvem {
    margin-bottom: 6em;
    height: 581px;
    margin: 0;
    margin-bottom: 2em;
  }
  h1 {
    font-size: 25px;
  }
}
 
.imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
 .imgs img {
  border-radius: 450%;
  margin: 1em 0.1em;
  width: 30%;
  min-width: 100px;
  border: 3px solid;
} 