.square {
  background-color: #fe9b00;
  width: 300px;
  height: 300px;
  transform: rotate(5deg);
  border-radius: 5px;
  margin: 1em 2em 3em 2em;
}
.square2 {
  background-color: blueviolet;
  width: 600px;
  height: 400px;
  margin: 10px;
  transform: rotate(-10deg);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.square2 img {
  width: 50%;
  transform: rotate(6deg);
  border-radius: 5px;
}
