* {
  padding: 0;
  margin: 0;
  /* font-family: "Caveat", cursive;
  font-family: "Satisfy", cursive;
  font-family: "Permanent Marker", cursive; */
  color: blueviolet;
}

body {
  padding-top: 119px;
  position: relative;
  box-sizing: border-box;
}
