* {
  padding: 0;
  margin: 0;
  /* font-family: "Caveat", cursive;
  font-family: "Satisfy", cursive;
  font-family: "Permanent Marker", cursive; */
  color: blueviolet;
}

body {
  padding-top: 57px;
  position: relative;
}

@media (max-width: 459.5px) {
  body {
    padding-top: 92px;
  }
}
@media (max-width: 376px) {
  body {
    padding-top: 105px;
  }
}
