* {
  padding: 0;
  margin: 0;
  /* font-family: "Caveat", cursive;
  font-family: "Satisfy", cursive;
  font-family: "Permanent Marker", cursive; */
  /* font-family: 'Grape Nuts', cursive; */
  /* font-family: Source Sans Pro; */
  font-family: 'Montserrat';
  color: blueviolet;
  box-sizing: border-box;
}

body {
  padding-top: 119px;
  position: relative;
  box-sizing: border-box;
  --cor-roxo-principal:rgb(224, 201, 245);
  --cor-salmao-principal: rgba(255, 211, 195, 0.753);
  }

  
